html {
  scroll-behavior: smooth;
}


.navbar-brand {
    font-size: 24px;
}

.nav-secondary-text {
    color: #fd2d55;
}

@keyframes hideLoader {
    0% {
      width: 100%;
      height: 100%;
    }

    100% {
      width: 0;
      height: 0;
    }
  }

  body>div.loader {
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 1071;
    opacity: 0;
    transition: opacity .5s ease;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body:not(.loaded)>div.loader {
    opacity: 1;
  }

  body:not(.loaded) {
    overflow: hidden;
  }

  body.loaded>div.loader {
    animation: hideLoader .5s linear .5s forwards;
  }

  /* Typing Animation */
  .loading-animation {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: typing 1s linear infinite alternate;
    position: relative;
    left: -12px;
  }

  @keyframes typing {
    0% {
      background-color: rgba(100, 100, 100, 1);
      box-shadow: 12px 0px 0px 0px rgba(100, 100, 100, 0.2), 24px 0px 0px 0px rgba(100, 100, 100, 0.2);
    }

    25% {
      background-color: rgba(100, 100, 100, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(100, 100, 100, 2), 24px 0px 0px 0px rgba(100, 100, 100, 0.2);
    }

    75% {
      background-color: rgba(100, 100, 100, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(100, 100, 100, 0.2), 24px 0px 0px 0px rgba(100, 100, 100, 1);
    }
  }

.icon-round {
    padding-right: 0px;
}

.contact-form {
    padding-top: 0px !important;
}

#spinner {
    display: none;
    margin-right: 5px;
}

body.busy #spinner { display:inherit !important; }

.covid-text {
  font-style: italic;
  margin-bottom: 0px;
  font-size: 12px !important;
}
/* Util classes */
.margin-right {
  margin-right: 10px;
}

.pad-top {
  padding-top: 16px;
}

.marigin-section-bottom {
  padding-bottom: 32px;
}

.is-primary{
  color: #fd2d55 !important;
}